@import '~bootstrap/scss/bootstrap';


$slate: #222;
$black: #000;
$white: #fff;
$red: #FF0000;
///////////////
$blue: #1B5AA0;
$darkGreen: #477B05;
/////////////
$darkTeal: #385E67;
$coral: #FFA2F1;
$chocolateBrown: #644207;
///////////////////////
$babyBlue: #7692B1;
$lightGreen: #A7C481;
/////////////////////
$darkblue: #6EB1D5;
$reviewsContainer: #7A90A8;

#accent-color {
  color: $darkGreen;
}

#project-name {
  color: $darkGreen;
}

.page {
  background-color: $lightGreen;
  color: $black;
}

body {
  background-color: $lightGreen;
}

nav {
  color: $white;
}

.single-review {
  border: 4px solid $darkGreen;
  border-radius: 20px;
  width: 47%;
  margin-top: 40px;
  background-color: $darkGreen;
  color: $black;
}

// section {
//   border: 2px solid $coral;
// }

#reviews-parent {
  width: 100%;
  display: flex;
  justify-content: center;
}


#all-reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // border: 2px solid $white;
  width: 95%;
  // background-color: $reviewsContainer;
  border-radius: 25px;
}



//////////////////////

.intro-page {
  // border: 2px solid $red;
  height: 709px;
}

.intro-top-third {
  // border: 2px solid $white;
  }
//
// .intro-left-third {
//   border: 2px solid $slate;
// }
//
// .intr-right-third {
//   border: 2px solid $red;
// }

.intro-top-half {
  // border: 2px solid $white;
  height: 15%;
}

.intro-bottom-half {
  // border: 2px solid $red;
  display: flex;
}

.intro-left-third {
  width: 50%;
  // border: 3px solid $babyBlue;
  display: flex;
  align-items: center;
  border-right: 1px solid $darkGreen;
}

.article-spacer{
  width: 5%;
  // border: 2px solid $white;
}

.intro-article {
  // border: 2px solid $red;
  width: 95%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

// .article-child {
//   border: 1px solid $white;
// }

.intro-right-third {
  width: 50%;
}

.app-title {
  font-family: 'Josefin Sans', serif;
  text-align: center;
  margin-top: 2%;
}

#first-page-message {
  text-align: center;
}

.intro-art-title {
  text-align: center;
}


.nunito {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.josefin {
  font-family: 'Josefin Sans', serif;
}

button {
  color: $lightGreen;
  border-radius: 15px;
  background-color: $black;
}

input {
  background-color: $black;
  color: $lightGreen;
}

.dark-blue-font {
  color: $darkGreen;
}

.babyBluetext {
  color: $lightGreen;
}

.red-background {
  background-color: $red;
}

.pink-text {
  color: $coral;
}

.white-text {
  color: $white;
}


///////////////////////////////
///////////////////////////////
///////////////////////////////
///////////////////////////////
///////////////////////////////
///////////////////////////////

.intro-right-third {
  // border: 3px solid $babyBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-div-child {
  // border: 2px solid $red;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// .bio-entry {
//   color: $red;
//   height: 30px;
// }

.black-text {
  color: $black;
}


.login-form-child {
  display: flex;
  justify-content: center;
  align-items: center;
}



//////////////////////////
/// USER PROFILE PICTURE///
///////////////////////////

.pfp {
  clip-path: circle();
}


















////////
