@import '~bootstrap/scss/bootstrap';


$slate: #222;
$black: #000;
$white: #fff;
$red: #ff2d00;
$blue: #1B5AA0;
$darkTeal: #385E67;
$coral: #FFA2F1;
$chocolateBrown: #644207;
$babyBlue: #7692B1;
$darkblue: #6EB1D5;
$reviewsContainer: #7A90A8;

#accent-color {
  color: $blue;
}

#project-name {
  color: $blue;
}

.page {
  background-color: $babyBlue;
  color: $black;
}

body {
  background-color: $babyBlue;
}

nav {
  color: $white;
}

.single-review {
  border: 4px solid $blue;
  border-radius: 20px;
  width: 47%;
  margin-top: 40px;
}

// section {
//   border: 2px solid $coral;
// }

#reviews-parent {
  width: 100%;
  display: flex;
  justify-content: center;
}


#all-reviews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // border: 2px solid $white;
  width: 95%;
  // background-color: $reviewsContainer;
  border-radius: 25px;
}



//////////////////////

.intro-page {
  // border: 2px solid $red;
  height: 709px;
}

// .intro-top-third {
//   border: 2px solid $white;
// }
//
// .intro-left-third {
//   border: 2px solid $slate;
// }
//
// .intr-right-third {
//   border: 2px solid $red;
// }

.intro-top-half {
  // border: 2px solid $white;
  height: 20%;
}

.intro-bottom-half {
  // border: 2px solid $red;
  display: flex;
}

.intro-left-third {
  width: 50%;
}

.intro-right-third {
  width: 50%;
}

.app-title {
  font-family: 'Josefin Sans', serif;
}

.nunito {
  font-family: 'Nunito Sans', sans-serif;
}

p {
  font-size: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

#project-name {
  font-family: 'Josefin Sans', serif;
}

button {
  color: $babyBlue;
  border-radius: 15px;
  background-color: $black;
}
