@import '~bootstrap/scss/bootstrap';


$all-background: #222;
$font-color: #fff;



.page {
  background-color: $all-background;
  color: $font-color;
}

body {
  background-color: $all-background;
}

nav {
  color: $font-color;
}
